{% extends "layouts/dashboard.twig" %}

{% block title 'Dashboard | Account'|title %}

{% block content %}

    <div>Hello World</div>

    <div>{{ app.user.fullName }}</div>
    <div>{{ dump(app.user.roles) }}</div>
    <div>{{ dump(user) }}</div>

{% endblock %}